@model DigireadProject.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "שכחתי סיסמה";
}
@section Styles {
    <link href="~/Content/Account/css/account.css" rel="stylesheet">
}

<h2 class="text-center">שחזור סיסמה</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                @Html.LabelFor(m => m.Email, "הזן כתובת דוא\"ל", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = "required", placeholder = "example@gmail.com" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                <p class="info-message">
                    <i class="fas fa-info-circle"></i>
                    שים לב: קישור לאיפוס סיסמה יישלח רק לכתובת מייל הרשומה למשתמש קיים במערכת
                </p>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">שלח קישור לאיפוס סיסמה</button>
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="form-group text-center">
                <div class="col-md-6 col-md-offset-3">
                    <div class="error-message">
                        <i class="fas fa-exclamation-circle"></i>
                        @TempData["ErrorMessage"]
                    </div>
                </div>
            </div>
        }
    </div>
}