@model DigireadProject.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
}

@section Styles {
    <link href="~/Content/Account/css/account.css" rel="stylesheet">
}

<h2 class="text-center">הרשמה</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.Username, "שם משתמש", new { @class = "control-label text-right" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "usernameField" })
                <span id="username-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.Email, "אימייל", new { @class = "control-label text-right" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "emailField", placeholder = "example@gmail.com" })
                <span id="email-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.Password, "סיסמה", new { @class = "control-label text-right" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "passwordField", placeholder = "••••••" })
                <div id="password-requirements">
                    <small>
                        <span id="length-req" class="requirement"><i class="fas fa-times text-danger"></i> לפחות 6 תווים</span>
                        <span id="uppercase-req" class="requirement"><i class="fas fa-times text-danger"></i> אות גדולה אחת לפחות</span>
                        <span id="lowercase-req" class="requirement"><i class="fas fa-times text-danger"></i> אות קטנה אחת לפחות</span>
                        <span id="number-req" class="requirement"><i class="fas fa-times text-danger"></i> מספר אחד לפחות</span>
                        <span id="special-req" class="requirement"><i class="fas fa-times text-danger"></i> תו מיוחד אחד לפחות</span>
                    </small>
                </div>
                <span id="password-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.ConfirmPassword, "אימות סיסמה", new { @class = "control-label text-right" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "rePasswordField", placeholder = "••••••" })
                <span id="repassword-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">הרשמה</button>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                <a href="@Url.Action("Login", "Account")" class="account-link">
                    משתמש קיים? <span>התחברות</span>
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Account/js/register-validation.js"></script>
}