@model DigireadProject.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "איפוס סיסמה";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="~/Content/Account/css/account.css" rel="stylesheet">

<h2 class="text-center">איפוס סיסמה</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Token)
    <div class="form-horizontal">
        <hr />
        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.Password, "סיסמה", new { @class = "control-label text-right" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "newPassword", placeholder = "••••••" })
                <span id="password-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div id="password-requirements">
                    <small>
                        <span id="length-req" class="requirement"><i class="fas fa-times text-danger"></i> לפחות 6 תווים</span>
                        <span id="uppercase-req" class="requirement"><i class="fas fa-times text-danger"></i> אות גדולה אחת לפחות</span>
                        <span id="lowercase-req" class="requirement"><i class="fas fa-times text-danger"></i> אות קטנה אחת לפחות</span>
                        <span id="number-req" class="requirement"><i class="fas fa-times text-danger"></i> מספר אחד לפחות</span>
                        <span id="special-req" class="requirement"><i class="fas fa-times text-danger"></i> תו מיוחד אחד לפחות</span>
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3 position-relative">
                @Html.LabelFor(m => m.ConfirmPassword, "אימות סיסמה", new { @class = "control-label text-right" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "confirmPassword", placeholder = "••••••" })
                <span id="repassword-validation" class="validation-icon"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">אפס סיסמה</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/reset-password-validation.js"></script>
}